@using MVC.Logic;
@using Microsoft.EntityFrameworkCore;
@model MVC.Models.Order
@inject MyContext Ctx

@{
    ViewData["Title"] = "Add Order";
    var us = Ctx.Users.Select(u=>new ValueTuple<int,string>(u.Id,$"{u.FirstName} {u.LastName}")).ToList();
}

<h1>Orders</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddOrder" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" />
                @foreach (var u in us)
                {
                    <option value="@u.Item1">@u.Item2</option>
                }
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="OrdersList">Back to List</a>
</div>