@using MVC.Logic;
@using Microsoft.EntityFrameworkCore;
@inject MyContext Ctx

@{
    
    //var us = Ctx.Users.Select(u => new UserDto(u.FirstName, u.LastName)).ToList();
    var bottomOrders = Ctx.Orders.Include(o=>o.User).OrderByDescending(o => o.Id).Take(10).ToList();
    ViewData["Title"] = "Orders List";
}
<div class="row">
    <div class="col">
        <h1>Orders List</h1>
    </div>
    <div class="col">
        <a asp-action="AddOrder" class="btn btn-primary">Add new Order</a>
    </div>
</div>


<table class="table table-success table-striped-columns">
    <thead>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>User</th>
    <tbody>
        @foreach (var order in bottomOrders)
        {
            var fullName = $"{order.User.FirstName} {order.User.LastName}";
            <tr>
                <td>@order.ProductName</td>
                <td>@order.Quantity</td>
                <td>@order.Price</td>
                <td>@fullName</td>
            </tr>
        }
    </tbody>
</table>
